doctype html 
html 
head 
include index.pug
body
h1(style="text-align:center") contact us

form(action="")(style="width:50%")
label(for="") Nom :
input(type="text" placeholder ="Enter your name") 
br
label(for="") Prénom :
input(type="email" placeholder ="Enter your email")
br
label(for="") Phone :

input(type="number" placeholder ="Enter yourphone number")
br
button Envoyer
